<li id="<%= workstream.id %>">
  
    <span class="worker">

      Worker Name
    </span>
    <span class="content">Work event name + hours worked</span>
    <span class="timestamp">
      Work event date
    </span>
    Link to delete if the current account is authorized.
  <% end %>
</li>