<h1>Family Types</h1>

<div class="row">

<% if @family_types.any? %>

<table class="table" id="family_types_list">
  <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Hours Required</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody id="familytypeslist">

        <%= render :partial => 'family_types_list' %>

    </tbody>



</table>

<br />


</div>

  <% else %>
      <p> No family types found. </p>
  <% end %>

  <%= link_to 'Create new Family Type', new_family_type_path %>