	<% @accounts.each do |account| %>
        <tr>
          <td><%= link_to account.name, account %></td>
          <td><%= account.total_hours_worked %></td>
          <td><%= link_to 'Edit', edit_account_path(account) %></td>
          <td><%= link_to 'Delete', account, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
    <% end %>