

<h1>All Accounts</h1>
<% if @accounts.any? 
  
  %>

  <div class="row">
  
  
    
    <table class="table" id="account_list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Hours Completed</th>
          <th>Family Type</th>
          <th></th>
          <th></th>
        </thead>
      </tr>
      <tbody id="accountlist">

     
        <%= render :partial => 'account_list' %>

      </tbody>
    
    </table>
  <%= paginate @accounts, :remote => true %>
  
    

  </div>
  </div>
  <% else %>
      <p> No volunteer accounts found. </p>
  <% end %>