<% provide(:title, @account.name) %>

<div class="row">
  <div class="span4">
    <aside>
      <%= render 'shared/account_summary' %>
    </aside>

  </div>

    <div class="span8">

        <div class="well">
        <h3>Volunteer Hours Quick Reporting Form:</h3>
          <div style="padding:10px">
            <%= render 'shared/volunteer_event_report_form' %>
          </div>
        </div>

    
    </div>

</div>
<hr/>
<div class="row">

  <div class="span12">
    <h4>Recent events reported: </h4>

    <%= render 'shared/workstream' %>
  </div>
</div>

