<% provide(:title, @account.name) %>

<div class="row">
  <div class="span4">
    <aside>
      <%= render 'shared/account_summary' %>
    </aside>

      

      <span>
        <h4>Volunteer Hours Quick Reporting Form:</h4>
          <div style="padding:10px">
            <%= render 'shared/volunteer_event_report_form' %>
          </div>
      </span>
  </div>

    <div class="span8">

    <h3>Recent events reported: </h3>

    <%= render 'shared/workstream' %>
    
    </div>

</div>
